.rounded {
    border-radius: 15px;
}

.cursor-initial {
    cursor: initial !important;
}

.page-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh !important;
}