* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    padding-top: 100px;
    font-family: "Century Gothic", sans-serif;
    background: url("https://user-images.githubusercontent.com/74824916/206914127-c20a48bb-c3ee-42dc-ad7f-cd485660eed6.jpg");
    background-size: 250px 250px;
}

::placeholder {
    color: #808080;
    opacity: 1;
    font-size: 13px;
}

a {
    text-decoration: none !important;
    color: #8E1917 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 550 !important;
}

/* top navbar */
.top-navbar-wrapper {
    width: 100%;
    z-index: 999;
    position: fixed;
    user-select: none;
}

.top-navbar {
    width: 98%;
    top: 1%;
    left: 1%;
    position: fixed;
    background-color: rgba(248, 248, 248, 0.8);
    backdrop-filter: blur(6px);
    border-radius: 25px;
}

.top-navbar li {
    float: left;
    padding: 10px;
}

.top-navbar-left-section {
    float: left;
    display: block;
}

.top-navbar-right-section {
    float: right;
    display: block;
}

/* footer */

.footer {
    display: flex;
    height: 100px;
    width: 100%;
    line-height: 1.3;
    font-family: Menlo, monospace;
    margin-top: 100px;
}

.footer ul {
    list-style-type: none !important;
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    padding-right: 35px;
}

@media (min-width: 500px) {
    .footer ul {
        grid-auto-flow: column;
    }
}

.footer a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.footer a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.footer li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer li p {
    margin: 0;
    padding: 0;
}

.footer li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-15deg);
    }
}




